/* header-styles */
.header-wrapper {
    background-color: aliceblue;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.navigation-ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.navigation-li {
    color: #303134;
    font-size: 15.74px;
    font-family: 'Raleway', sans-serif;
}
/* offers-styling */
.content-wrapper {
    width: 870px;
    margin: 77px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.offer-title-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6px;
    margin-bottom: 65px;
}
.offer{
    color: #8D8D8D;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
}
.offer-title {
    color: #1A1A1B;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
}
.offer-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 10px 8px rgba(0, 0, 0, 0.12)
;
}
.offer-box {
    position: relative;
    z-index: 1;
}
.offer-box-heading {
    position: absolute;
    background-color: #FED701;
    padding: 5px;
    top: 10px;
    left: 10px;
    z-index: 2;
}
.offer-box-heading-text {
    font-size: 14px;
    font-weight: 600px;
    color: #1A1A1B;
    font-family: 'Raleway', sans-serif;
}
.clear {
    clear: both;
}
.offer-price {
    color: #1A1A1B;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin: 15px auto;
}
.offer-box-title {
    color: #4B54FA;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.offer-length {
    color: #1A1A1B;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}
/* map-styling */
iframe {
    width: 100%;
}
/* footer-styles */
footer {
    background-color: #141418;
}
.footer-wrapper {
    border-bottom: white;
}
.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}
.footer-li {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
}
.footer-box-title {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}